h1.mt-5
	i.fa.fa-sun.fa-5x
h1.with.dignity Bom Dia, Meia-Noite
h3.with.dignity Adeus, Mundo Imundo
h3.text-center
	button.btn.btn-dark.btn-lg(data-target='#myNavdrawer', data-toggle='navdrawer')
		i.mr-1.material-icons flash_on
		| &nbsp;Gary Glitter
	button.btn.bg-primary.text-light.btn-lg.ml-2(type='button', data-toggle='modal', data-target='#exampleModal')
		i.fas.fa-star-and-crescent.fa-lg.mr-1
		| &nbsp;Ziggy Stardust
		
h4.text-center.with.dignity.my-4
	i.material-icons all_inclusive
	| &nbsp; Daemonite Material no Harp JS

#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document', style="max-width: 400px")
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title 
					i.fas.fa-theater-masks.fa-2x.fa-pull-right.ml-3
					| Puxando um Gato

				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;

			.modal-body
				| Νε vελ ομνεσ φαβθλασ. Cορπορα cοπιοσαε ρεφορμιδανσ ναμ θτ. Vισ ιν μανδαμθσ ινcορρθπτε. Vιμ ωισι οφφενδιτ ρεφορμιδανσ τε, ατqθι νονθμυ πθτεντ νο qθι, vελ αδ ενιμ vερι φαλλι. Περ πορρο ελειφενδ cθ, δενιqθε μολεστιαε ιδ προ.

			.modal-footer
				button.btn.bg-dark-4.text-light.my-1(type='button', data-dismiss='modal') Dispensar

				button.btn.bg-light-1.my-1(type='button' data-dismiss='modal') Guardar
script.
	$('#myModal').on('shown.bs.modal', function () {
	$('#myInput').trigger('focus')
	})
